.sidebarchat {
  display: flex;
  padding: 19px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
a{
  text-decoration: none !important;
  color:black;
}
.sidebarchat:hover {
  background-color: #ebebeb;
}
.sidebarchatinfo > h2 {
  font-size: 15px;
  margin-bottom: 8px;
}
.sidebarchatinfo {
  margin-left: 15px;
}
